
<div class="row">
  <div class="col-md-6">

<h1>About Us</h1>
<p>Celebrating 50 Years of Quality, Christian Education!<br>
<br>
Gethsemane Lutheran School is located on the southwest corner of Garland (106th) and Washington Street in Northglenn, just two blocks north of 104th Avenue on Washington Street. The full facility includes our church sanctuary, basement/cafeteria, 11 classrooms, library, computer lab and administrative offices.<br>
<br>
Gethsemane Christian Day School opened its doors in 1962 offering an excellent Christian education for preschool and kindergarten children. Over the years Gethsemane grew to accommodate an increasing number of students and needs, offering a full Lutheran education program through 8th grade beginning in 1983. The school’s commitment to excellence for all ages continued when in 1998, Gethsemane became the ONLY Lutheran Montessori Preschool program in the state of Colorado.<br>
<br>
GLS has undergone numerous expansion programs, the most recent in 2004, adding seven additional classrooms and expanded office space for the church and school. What was once a small chapel and school house has grown into a 6,000 sq. ft. sanctuary and multi-functional facility including 14 classrooms, computer lab, library, offices and playground.<br>
<br>
For 50 years, Gethsemane Lutheran School and its staff have committed themselves to continuing the longstanding Lutheran tradition of academic excellence and personalized education. GLS takes great pride in watching their graduates continue on to live successful and fulfilling lives.<br>
<br>
Gethsemane Lutheran School currently serves over 100 preschool through eighth grade students and their families.</p>
</div>


</div>
